{% load static %}

<footer class="bg-dark text-light mt-5">
    <div class="container py-4">
        <div class="row">

            <div class="col-md-4 mb-3">
                <h5>Página Virada Store</h5>
                <p>Seu destino online para livros incríveis, ofertas especiais e novidades literárias.</p>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Links Rápidos</h5>
                <ul class="list-unstyled">
                    <li><a href="{% url 'home' %}" class="text-light text-decoration-none">Home</a></li>
                    <li><a href="{% url 'categorias' %}" class="text-light text-decoration-none">Categorias</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Mais Vendidos</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Contato</a></li>
                </ul>
            </div>

            <div class="col-md-4 mb-3">
                <h5>Contato</h5>
                <p>Email: contato@paginavirada.com</p>
                <p>Telefone: (11) 99999-9999</p>
                <p>Atendimento: Seg a Sex, 9h às 18h</p>
            </div>
        </div>

        <div class="text-center mt-4">
            <p class="mb-0">&copy; 2025 Página Virada Store - Todos os direitos reservados.</p>
        </div>
    </div>
</footer>